ca=null
always-auth=true

; Vivid packages (GitHub, via Artifactory)
registry=https://vonagecc.jfrog.io/artifactory/api/npm/npm-remote-github-vonage-vivid/
@vonage:registry=https://vonagecc.jfrog.io/artifactory/api/npm/npm-remote-github-vonage-vivid/
//vonagevcctest.jfrog.io/artifactory/api/npm/npm-remote-github-vonage-vivid/:_password=${ARTIFACTORY_SECRET}
//vonagevcctest.jfrog.io/artifactory/api/npm/npm-remote-github-vonage-vivid/:username=${ARTIFACTORY_USER}

; All other packages (internal and public, via Artifactory)
registry=https://vonagecc.jfrog.io/artifactory/api/npm/npm/
_auth=${ARTIFACTORY_NPM_TOKEN}

; Vonage Volta private packages from NPMJS.org
@vonagevolta:registry=https://registry.npmjs.org
//registry.npmjs.org/:_authToken=${VOLTA_NPM_TOKEN}
