ca=null
always-auth=true

; Vivid packages (GitHub)
@vonage:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=${GITHUB_TOKEN} ; Personal Access Token with 'read:packages' permission authorized for Vonage SSO

; All other packages (internal and public, via Artifactory)
registry=https://vonagecc.jfrog.io/artifactory/api/npm/npm/
_auth=${ARTIFACTORY_NPM_TOKEN}
