ca=null
always-auth=true

; Vivid packages (GitHub, via Artifactory)
registry=https://vonagecc.jfrog.io/artifactory/api/npm/npm-remote-github-vonage-vivid/
@vonage:registry=https://vonagecc.jfrog.io/artifactory/api/npm/npm-remote-github-vonage-vivid/
_auth=${ARTIFACTORY_NPM_TOKEN}

; All other packages (internal and public, via Artifactory)
registry=https://vonagecc.jfrog.io/artifactory/api/npm/npm/
_auth=${ARTIFACTORY_NPM_TOKEN}
