<% banner %>

import React from 'react'
import <% component-class-name %> from '../../../dist/<% component-class-name %>'

export const Default = () => {
  return (
    <<% component-class-name %> />
  )
}


export default {
  title: '<% component-class-name %>',
  decorators: []
}
