<% banner %>
/*
Code in this file were generated using following JSON:
<% descriptor-json %>
*/
import React, { ReactNode, ForwardRefExoticComponent } from 'react'
import wrapper from '@vonage/vivid-react-wrapper'
<% imports %>

const WrappedComponent = wrapper('<% tag %>',  {
    events: [<% events %>],
    attributes: [<% attributes %>],
    properties: [<% properties %>]
}) as ForwardRefExoticComponent<any>;

<% jsdoc.class %>
const <% component-class-name %> = (props:
{
  children?: ReactNode,
  style?: React.CSSProperties,
<% props %>
}
): JSX.Element => <WrappedComponent {...props}>{props.children}</WrappedComponent>

export default <% component-class-name %>
